<div class="prev scroll-button pointer" (click)="scroll(-1)" [style.visibility]="(page>0) ? 'visible' : 'hidden'">
    <img src="assets/images/wide-arrow-up.png">
</div>
<div *ngIf="orders.items.length > 0" class="scroll-container" #scrollContainer>
    <div class="orders-container">
      <app-order 
        *ngFor="let categoryEl of orders.items; let i = index" 
        [order]="categoryEl" 
        [status]="nextCategory"
        (clickChangeStatus)=changeStatus($event)
      >
      </app-order>
    </div>
</div>
<div class="next scroll-button pointer" (click)="scroll(1)" [style.visibility]="(page< totalPage ) ? 'visible' : 'hidden'">
  <img src="assets/images/wide-arrow-down.png">
</div>

{{page}}<br>{{totalPage}}
<modal-details [modalState]="showModal$ | async" animation=false>
  <app-order-details [order]="(selectedOrder$ | async)" [status]="nextCategory">
  </app-order-details>
</modal-details>