$gridColSize: 250px;
$gridRowSize: 230px;
$boxWidth: 240px;
$boxMinHeight: 220px;
$boxHeight: auto;
$boxBorderRadius: 7px;
$borderStyle: 2px solid #ccc;

.scroll-container {
  height: 508px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0.5em 0;
}
::-webkit-scrollbar {
  display: none;
}
.orders-container {
  margin: 0 12px;
  display: block;
  width: 100%;
  padding-bottom: 230px;
}
.scroll-button {
  text-align: center;
  width: 115px;
  margin: auto;
  opacity: 0.3;
  img {
    width: 100%;
    height: 70%;
  }
}
app-order {
  margin: 0.2em;
}
