@import '../../../scss/placeholders';

.navbar {
  > div {
    position: relative;
    height: 100%;
    width: 1024px;
    margin: auto;
  }
  padding: 0 12px;
  ul {
    text-align: right;
    left: 200px;
    /* right: 0px */
    height: 100%;
    top: 0;
    position: absolute;
    li {
      position: relative;
      width: 160px;
      min-height: 60px;
      border-left: 1px solid #ddd;
      a {
        height: 100%;
        padding: 0;
        .inner {
          opacity: 0.7;
          width: 100%;
          text-align: center;
          @extend %vcenter;
          i {
            font-size: 32px;
          }
          .nav-label {
            position: relative;
            display: inline-block;
            top: -5px;
            left: 3px;
          }
        }
        .fa-cutlery {
          font-size: 26px;
        }
      }
      a.active {
        color: white;
        background: #666;
        .inner {
          opacity: 1;
        }
      }
    }
  }
  .count {
    @extend %badge;
    left: 24px;
    top: 10px;
  }
  .count.completed {
    background: #008800;
  }
}
