<ngx-spinner [hidden]="!(loading$ | async)" loadingText="Loading..." size="medium" type="ball-clip-rotate">
</ngx-spinner>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a class="navbar-brand" routerLink="/home">App Name</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/home" class="nav-link">
          <div class="inner">
            <i class="fa fa-cutlery"></i>
            <span class="nav-label">New</span>
          </div>
          <span #countEl class="count new animated bounceInDown" *ngIf="(countNew$ | async) as countNew">{{countNew}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/ready" class="nav-link">
          <div class="inner">
            <i class="fa fa-money"></i>
            <span class="nav-label">Ready</span>
          </div>
          <span class="count" *ngIf="(countReady$ | async) as countReady">{{countReady}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/completed" class="nav-link">
          <div class="inner">
            <i class="fa fa-check-circle-o"></i>
            <span class="nav-label">Completed</span>
          </div>
          <span class="count completed" *ngIf="(countDone$ | async) as countDone">{{countDone}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>