<div class="options">
    <span *ngFor="let optionset of options">
        <div class="option" *ngFor="let option of optionset.options">
            <span class="optionset" *ngIf="showOptionset">{{optionset.name}}:</span> {{option.n}} 
            <span *ngIf="option.quantity > 1">x{{option.q}}</span>
            <span *ngIf="option.p">({{option.p | currency}})</span>
        </div>
    </span>
</div>
