$boxWidth: 240px;
$boxMinHeight: 220px;
$boxHeight: 220px;
$boxBorderRadius: 7px;
$borderStyle: 2px solid #ccc;

.order-container {
  margin: 5px 0;
  height: $boxHeight;
  min-height: $boxMinHeight;
  border: $borderStyle;
  border-radius: $boxBorderRadius;
  text-align: left;
  font-size: 0.9em;
  width: $boxWidth;
  display: inline-block;

  button {
    padding: 3px;
    margin: 0;
    float: left;
  }
  button.btn-print {
    width: 40%;
  }
  button.btn-status {
    width: 60%;
  }
  .items-container {
    padding: 5px;
    display: block;
    background: #f5f5f5;
    height: calc(100% - 73px);
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    .product {
      width: 100%;
      margin-bottom: 8px;
      line-height: 1em;
      .item-name {
        font-weight: 600;
        margin-bottom: 2px;
        .quantity {
          color: #ff0000;
        }
      }
      options-text {
        font-size: 0.8em;
      }
    }
  }
}

.order-header {
  font-size: 0.8em;
  height: 38px;
  border-bottom: $borderStyle;
  overflow: hidden;
  border-radius: $boxBorderRadius $boxBorderRadius 0 0;
  > * {
    text-align: center;
    width: 33.3%;
    height: 100%;
    float: left;
  }
  h3 {
    margin: 0;
    font-size: 24px;
    padding: 3px 0;
    border-right: $borderStyle;
  }
  div.date {
    border-right: $borderStyle;
  }
  div.type {
    padding: 5px 0;
    font-size: 16px;
  }
}
