<div class="order-container">
  <div class="order-header">
    <h3>#{{order.n}}</h3>
    <div class="date">{{order.ts*1000 | date:'M/d/yy'}}<br>{{order.ts*1000 | date:'h:mm a'}}</div>
    <div class="type">{{order.here ? "Take Out" : "Dine In"}}</div>
  </div>
  <button class="btn btn-status noround" [ngClass]="{'btn-success': status=='completed', 'btn-primary': status=='ready', 'btn-dark': status=='pending'}" (click)="changeStatus(order.id)" >Mark {{status}}</button>
  <button class="btn btn-print btn-secondary noround" (click)="print()" ><i class="fa fa-print"></i> Print</button>

  <div class="items-container pointer" (click)="showOrderDetails(order)">
    <div class="product" *ngFor="let item of order.items">
      <div class="item-name">{{item.n}} <span *ngIf="item.q > 1" class="quantity">(x{{item.q}})</span></div>
      <options-text [options]="item.os"></options-text>
    </div>
  </div>
</div>
