/* You can add global styles to this file, and also import other style files */

@import './scss/main';

body {
  overflow: hidden;
}

#main-wrapper {
  width: $bodyWidth;
  margin: auto;
  background: #fff;
  min-width: $bodyMinWidth;
  @extend %fullscreen;
}

app-header .navbar {
  height: $headerHeight;
  padding: 0;
  overflow: hidden;
}

#main-container {
  width: 100%;
  text-align: left;
  height: $bodyHeight;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

@media only screen and (min-width: 992px) {
  #main-wrapper {
    width: 100%;
    top: $bodyMargin;
    bottom: $bodyMargin;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 575px) {
  .modal-dialog {
    margin: 1vw;
  }
  .modal-open .modal {
    overflow-y: hidden;
  }
  .responsive.phone.over {
    display: none;
  }
}
