/* You can add global styles to this file, and also import other style files */

%fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%vcenter {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

%badge {
  position: absolute;
  display: inline-block;
  background: red;
  border-radius: 50%;
  color: white;
  font-weight: 300;
  font-size: 1em;
  width: 1.8em;
  height: 1.8em;
  padding: 0.15em;
  outline: none;
  text-align: center;
}
