/* You can add global styles to this file, and also import other style files */

$headerHeight: 60px;
$bodyHeight: calc(100% - 60px);
$bodyMargin: 0px;
$bodyMinWidth: 320px;

$modalBorderRadius: 0.5em;

$bodyWidth: 1000px;
