<div *ngIf="order">
  <div class="modal-header">
      <div class="order-header">
          <h3>#{{order.n}}</h3>
          <div class="date">{{order.ts*1000 | date:'M/d/yy (EEE)'}}
            <br>{{order.ts*1000 | date:'h:mm a'}}
          </div>
          <div class="type">{{order.here ? "Take Out" : "Dine In"}}</div>
        </div>
    <span class="close-button pointer" (click)="onCloseModal()">
      <span>&times;</span>
    </span>
  </div>
  <div class="modal-body">
    <div class="order-container">
      <div class="items-container">
        <div class="product" *ngFor="let item of order.items">
          <div class="item-name">{{item.n}} <span *ngIf="item.q > 1" class="quantity">(x{{item.q}})</span></div>
          <options-text [options]="item.os" showOptionset=true ></options-text>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-6 cart-button-container">
        <div class="btn-group">
          <button class="btn btn-default rounded" type="button" (click)="onCloseModal()">Cancel</button>
          <button class="btn btn-lg rounded" [ngClass]="{'btn-success': status=='completed', 'btn-primary': status=='ready'}" type="button" (click)="onChangeStatus()">Mark as {{status}}</button>
        </div>
      </div>
    </div>
  </div>
</div>