.modal-header {
  min-height: 70px;
  padding: 5px;
  position: relative;
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    margin: auto;
  }
  background: #f5f5f5;
}
.close-button {
  position: absolute;
  display: inline-block;
  font-size: 2.5em;
  width: 48px;
  height: 48px;
  text-align: center;
  margin-right: -16px;
  top: -16px;
  background: #fff;
  padding-top: 0px;
  right: 0;
  border: 2px solid #666;
  border-radius: 50%;
  span {
    display: inline-block;
    top: -10px;
    height: 20px;
    position: relative;
  }
}
.modal-body {
  max-height: 500px;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  .inner-container {
    position: relative;
  }
}
.modal-footer {
  background: #eee;
  border-top-left-radius: 0 0 0.3rem 0.3rem;
}

.order-container {
  font-size: 16px;
  border: none;
  height: auto;
  max-height: calc(100vh - 200px);
  width: 100%;
  .items-container {
    padding: 10px;
    background: initial;
    font-size: 18px;
    height: auto;
    .product {
      margin-bottom: 10px;
    }
  }
}
.order-header {
  width: 100%;
  position: relative;
  top: 7px;
  height: 50px;
  font-size: 1em;
  border: none;
  > * {
    border: none;
  }
}

@media only screen and (max-width: 575px) {
  .modal-header {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 5px 10px;
    height: 70px;
    h2 {
      font-size: 1em;
    }
  }
  .modal-body {
    height: calc(100vh - 198px - 2vw);
  }
  .close-button {
    background: transparent;
    border: none;
    top: -7px;
    right: 8px;
    color: #666;
    font-weight: 200;
    span {
    }
  }
}
